.card {
    margin: 20px auto;
    height: 25  0px;
    width: 400px;
    text-align: center;
    
    border-radius: 2px;
    box-shadow: 0 6px 12px -3px rgba(0,0,0,.3);
    color: #fff;
    padding: 30px;
    border-radius: 30px;
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  h1 {
    font-size: 60px;
    margin: .15em 0;
  }
  h3 {
    font-size: 26px;
    margin: .15em 0;
  }

  .button1{
      position: relative;
  }
  .button2{
    position: relative;
}